<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>FragView - License</title>

    <link type="text/css" rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
    <link type="text/css" rel="stylesheet"
        href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" />

    <link type="text/css" rel="stylesheet/less" href="{{ url_for('static', filename='less/vars.less')}}" />
    <link type="text/css" rel="stylesheet/less" href="{{ url_for('static', filename='less/global.less')}}" />
    <link type="text/css" rel="stylesheet/less" href="{{ url_for('static', filename='less/external.less')}}" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy&display=swap" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
</head>

<body>
    <div id="extTitle">
        <a class="extLink" href="/">
            <h1>FragView</h1>
        </a>
    </div>

    <div id="main">
        <h2>License</h2>
        <div class='licenseBlock'>
            <p>FragView
                Copyright (c) 2021 University of Tennessee at Chattanooga

                FragView is free software: you can redistribute it and/or modify
                it under the terms of the GNU Affero General Public License as published by
                the Free Software Foundation, either version 3 of the License, or
                (at your option) any later version.

                FragView is distributed in the hope that it will be useful,
                but WITHOUT ANY WARRANTY; without even the implied warranty of
                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
                GNU Affero General Public License for more details.

                You should have received a copy of the GNU Affero General Public License
                along with FragView. If not, see &lt;<a
                    href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>&gt;.</p>
        </div>
        <h2>Third-Party Licenses</h2>
        <h3>MolView</h3>
        <div class="licenseBlock">
            <p>MolView (<a href="http://molview.org">http://molview.org</a>)
                Copyright (c) 2014, 2015 Herman Bergwerf

                MolView is free software: you can redistribute it and/or modify
                it under the terms of the GNU Affero General Public License as published by
                the Free Software Foundation, either version 3 of the License, or
                (at your option) any later version.

                MolView is distributed in the hope that it will be useful,
                but WITHOUT ANY WARRANTY; without even the implied warranty of
                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
                GNU Affero General Public License for more details.

                You should have received a copy of the GNU Affero General Public License
                along with MolView. If not, see &lt;<a
                    href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>&gt;.</p>
        </div>
        <hr class="hRule">
        <h3>ChemDoodleWeb</h3>
        <div class="licenseBlock">
            <p>ChemDoodle Web Components 6.0.1

                <a href="http://web.chemdoodle.com">http://web.chemdoodle.com</a>

                Copyright 2009-2014 iChemLabs, LLC. All rights reserved.

                The ChemDoodle Web Components library is licensed under version 3
                of the GNU GENERAL PUBLIC LICENSE.

                You may redistribute it and/or modify it under the terms of the
                GNU General Public License as published by the Free Software Foundation,
                either version 3 of the License, or (at your option) any later version.

                As an exception to the GPL, you may distribute this packed form of
                the code without the copy of the GPL license normally required,
                provided you include this license notice and a URL through which
                recipients can access the corresponding unpacked source code.

                This program is distributed in the hope that it will be useful,
                but WITHOUT ANY WARRANTY; without even the implied warranty of
                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
                GNU General Public License for more details.

                Please contact iChemLabs &lt;<a href="http://www.ichemlabs.com/contact-us">http://www.ichemlabs.com/contact-us</a>&gt; for
                alternate licensing options.
                See: <a href="http://web.chemdoodle.com/">http://web.chemdoodle.com/</a></p>
        </div>
        <hr class="hRule">
        <h3>Treant.JS</h3>
        <div class="licenseBlock">
            <p>The MIT License (MIT) Copyright © 2016 Fran Peručić

                Permission is hereby granted, free of charge, to any person obtaining a copy of this software and 
                associated documentation files (the “Software”), to deal in the Software without restriction, including without 
                limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the 
                Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
                
                The above copyright notice and this permission notice shall be included in all copies or substantial portions 
                of the Software.
                
                THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED 
                TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL 
                THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF 
                CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS 
                IN THE SOFTWARE.</p>
        </div>
        <hr class="hRule">
        <h3>Filesaver.js and Blob.js</h3>
        <div class="licenseBlock">
            <p>Copyright (c) 2014 [Eli Grey](<a href="http://eligrey.com">http://eligrey.com</a>)
                MIT License
                See: <a href="https://github.com/eligrey/FileSaver.js">https://github.com/eligrey/FileSaver.js</a> and <a href="https://github.com/eligrey/Blob.js">https://github.com/eligrey/Blob.js</a></p>
        </div>
        <hr class="hRule">
        <h3>GLmol</h3>
        <div class="licenseBlock">
            <p>GLmol - Molecular Viewer on WebGL/Javascript (0.47)
                (C) Copyright 2011-2012, biochem_fan
                License: dual license of MIT or LGPL3
                See: <a href="https://github.com/biochem-fan/GLmol">https://github.com/biochem-fan/GLmol</a></p>
        </div>
        <hr class="hRule">
        <h3>iView</h3>
        <div class="licenseBlock">
            <p>Copyright (c) 2012-2014 Chinese University of Hong Kong
                License: Apache License 2.0
                Hongjian Li, Kwong-Sak Leung, Takanori Nakane and Man-Hon Wong.
                iview: an interactive WebGL visualizer for protein-ligand complex.
                BMC Bioinformatics, 15(1):56, 2014.
                See: <a href="https://github.com/HongjianLi/istar/tree/master/public/iview">iView GitHub</a></p>
        </div>
        <hr class="hRule">
        <h3>JSmol</h3>
        <div class="licenseBlock">
            <p>Jmol is offered under the LGPL License (GNU Lesser General Public License)
                See: <a href="http://wiki.jmol.org/index.php/License">http://wiki.jmol.org/index.php/License</a></p>
        </div>
        <hr class="hRule">
        <h3>jQuery</h3>
        <div class="licenseBlock">
            <p>jQuery JavaScript Library v2.1.0
                <a href="http://jquery.com/">http://jquery.com/</a>"

                Includes Sizzle.js
                <a href="http://sizzlejs.com/">http://sizzlejs.com/</a>

                Copyright 2005, 2014 jQuery Foundation, Inc. and other contributors
                Released under the MIT license
                <a href="http://jquery.org/license">http://jquery.org/license</a>

                Date: 2014-01-23T21:10Z
                See: <a href="http://jquery.com/">http://jquery.com/</a></p>
        </div>
        <hr class="hRule">
        <h3>jQuery Hotkeys</h3>
        <div class="licenseBlock">
            <p>MIT or GPL Version 2
                See: <a href="https://github.com/jeresig/jquery.hotkeys">https://github.com/jeresig/jquery.hotkeys</a>
            </p>
        </div>
        <hr class="hRule">
        <h3>Ketcher</h3>
        <div class="licenseBlock">
            <p>Ketcher is Copyright (C) of GGA Software Services LLC 2009-2010.

                This program is free software: you can redistribute it and/or modify
                it under the terms of the GNU Affero General Public License as published
                by the Free Software Foundation, version 3 of the License.

                This program is distributed in the hope that it will be useful,
                but WITHOUT ANY WARRANTY; without even the implied warranty of
                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
                GNU Affero General Public License for more details.

                You should have received a copy of the GNU Affero General Public License
                along with this program. If not, see &lt;<a
                    href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>&gt;
                See: <a href="https://github.com/ggasoftware/ketcher">https://github.com/ggasoftware/ketcher</a></p>
        </div>
        <hr class="hRule">
        <h3>MobileDetect</h3>
        <div class="licenseBlock">
            <p>Code and contributions have 'MIT License'
                More details: <a
                    href="https://github.com/serbanghita/Mobile-Detect/blob/master/LICENSE.txt">https://github.com/serbanghita/Mobile-Detect/blob/master/LICENSE.txt</a>
                See: <a
                    href="https://github.com/serbanghita/Mobile-Detect/">https://github.com/serbanghita/Mobile-Detect/</a>
            </p>
        </div>
        <hr class="hRule">
        <h3>Parsedown</h3>
        <div class="licenseBlock">
            <p>The MIT License (MIT)
                Copyright (c) 2013 Emanuil Rusev, erusev.com
                See: <a href="https://github.com/erusev/parsedown">https://github.com/erusev/parsedown</a></p>
        </div>
        <hr class="hRule">
        <h3>PeriodicTable</h3>
        <div class="licenseBlock">
            <p>See: <a
                    href="https://github.com/diniska/chemistry/blob/master/PeriodicalTable/periodicTable.json">PeriodicTable
                    GitHub</a></p>
        </div>
        <hr class="hRule">
        <h3>Three.js</h3>
        <div class="licenseBlock">
            <p>The MIT License
                Copyright (c) 2010-2014 three.js authors
                See: <a href="https://github.com/mrdoob/three.js">https://github.com/mrdoob/three.js</a></p>
        </div>
    </div>
</body>

</html>